@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Familjen Grotesk", sans-serif;
}

body {
  background: linear-gradient(-45deg, #050206, #3b3b3b);
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.9375rem;
  padding-right: 1.875rem;
  color: white;
  border-radius: 0 0 15px 15px;
}

.is-pinned {
  z-index: 3;
  background: linear-gradient(45deg,#3b3b3b,#050206);
}

.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5625rem;
  pad: 1.25rem;
  padding-top: 1.5625rem;
  color: white;
}

#toggler {
  display: none;
}

[for="toggler"] {
  padding: 2px;
  font-size: 25px;
}

.menu {
  width: 100%;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

#toggler:checked ~ .menu {
  max-height: 200px;
}

.logo-nav,
.logo {
  font-family: "Chakra Petch", sans-serif;
  font-size: 25px;
}

.logo {
  font-size: 35px;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  flex-direction: column;
  height: 200px;
  color: aqua;
}

.header-container {
  position: relative;
  z-index: 1;

  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  margin-top: 200px;
  z-index: 2;
  background: #fff;
  border-radius: 15px 15px 0 0;
  height: 100vh;
}
