@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Familjen Grotesk", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  background: linear-gradient(to left, #050206, #3b3b3b);
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.9375rem;
  padding-right: 1.875rem;
  color: white;
  border-radius: 0 0 15px 15px;
  background: linear-gradient(to left, #050206, #3b3b3b);
}

.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5625rem;
  pad: 1.25rem;
  padding-top: 1.5625rem;
  color: white;
}

#toggler {
  display: none;
}

[for="toggler"] {
  padding: 2px;
  font-size: 25px;
}

.menu {
  width: 100%;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;
  -webkit-transition: max-height 0.5s ease;
  -o-transition: max-height 0.5s ease;
}

#toggler:checked ~ .menu {
  max-height: 200px;
}

.logo-nav,
.logo {
  font-family: "Chakra Petch", sans-serif;
  font-size: 25px;
}

.logo {
  font-size: 35px;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  flex-direction: column;
  height: 200px;
  color: white;
}

.header-container {
  position: relative;
  z-index: 1;

  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 200px;
  z-index: 2;
  background: #fff;
  border-radius: 15px;
  padding-bottom: 100vh;
  gap: 35px;
}

.title-notas {
  margin-top: 25px;
}

.notas {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  gap: 10px;
}

thead {
  border-bottom: 1px solid #3b3b3b55;
}

tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}

tbody tr td {
  max-width: 80px;
  padding: 5px;
  overflow-wrap: break-word;
}

.add-note {
  position: fixed;
  bottom: 20px;
  text-align: center;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  border-style: none;
  background-color: transparent;
  border-radius: 50%;
  font-size: 50px;
  color: #050206;
  box-shadow: 3px 3px 8px rgba(33, 41, 52, 0.5);

  transition: font-size, color, margin-left, margin-top 0.2s;
}

.add-note:active {
  color: #3b3b3b;
  font-size: 48px;
  margin-top: -24px;
  margin-left: -24px;
}

.vent-emergente {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(33, 41, 52, 0.85);
  left: 0;
  bottom: -100px;
  right: 0;
  top: -100px;
  position: fixed;
  z-index: 999;
}

.active {
  display: flex;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background-color: #fff;
  border-radius: 15px;
}

.add-form span {
  justify-self: flex-start;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}

.add-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-form .buttons {
  display: flex;
  justify-content: space-between;
}

.add-form .buttons button {
  padding: 10px 20px;
  border-radius: 13px;
  border: none;
  color: white;
}

.add-form [type="text"] {
  height: 30px;
  border: 1px solid #3b3b3b;
  border-radius: 5px;
}

.agregar {
  background-color: #3b3b3b;
}

.cancelar {
  background-color: #050206;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 15px;
  padding: 15px;
  gap: 15px;
}
